/* @format */

body {
  margin: 0 !important;
  padding: 0 !important;
}

#ex {
  font-family: sans-serif;
  z-index: 10000;
}

.toolbar {
  padding: 10px;
  background-color: #000000CC;
  position: fixed;
  width: 100vw;
  display: flex;
}

.toolbar:hover {
  background-color: black;
}

.toolbar-item {
  cursor: pointer;
  font-weight: 600;
  color: #FFFFFFCC;
  padding: 5px;
  margin: 5px;
}

.toolbar-item:hover {
  color: white;
}

.backdrop {
  display: flex;
  justify-content: center;
  background-color: black;
}

.poster {
  transition: all 1s ease-in;
}

.poster.no-zoom {
  cursor: zoom-out;
}

.poster.zoom-in {
  max-width: 100vw;
  /* height: calc(100vh - 100px); */
  height: 100vh;
  max-height: 100vh;
  cursor: zoom-in;
}

.thumbnails {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #000000CC;
  padding-top: 10px;
  padding-left: 150px;
  padding-right: 150px;
  overflow-x: auto;
  height: 100px;
}

.thumbnail {
  border: 1px solid white;
  cursor: pointer;
  height: 80px;
  width: 80px;
  min-height: 80px;
  min-width: 80px;
  margin-right: 15px;
}

.thumbnail.active {
  border-color: orange;
}
